[user]
	name = Gustavo Henrique dos Santos Domingos
	email = h.gustavaspeed2002@gmail.com
[core]
	editor = vim
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
